<!DOCTYPE>

<html>
    <head>
        <meta charset="utf-8">
        <title> SOme website  </title>
    </head>

  <body> 
 
 {{> header}}
  <p>
 
     {{screamIt welcomeMessage}}
 </p> 
 {{> footer}}
  </body>

</html>